@import 'react-datepicker/dist/react-datepicker.css';

.date-picker {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1em;
  color: #2F4F4F;

  .react-datepicker__navigation {
    top: 5px !important;
    line-height: 1.2 !important;

    &--previous, &--next {
      width: 16px !important; 
      height: 16px !important;
      border-width: 2px !important; 
    }
  }

  .react-datepicker__input-container input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #2F4F4F;
    background-color: #F5FFFA;
    width: 100%;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #2E8B57;
      outline: none;
    }
  }

  .react-datepicker {
    border: 1px solid #2E8B57;
    border-radius: 8px;
    background-color: #FFFFFF;

    .react-datepicker__header {
      background-color: #2E8B57;
      border-bottom: 1px solid #2E8B57;
    }

    .react-datepicker__day--selected,
    .react-datepicker__day--keyboard-selected {
      background-color: #66CDAA;
      color: #FFFFFF;
    }

    .react-datepicker__day--today {
      border-color: #2E8B57;
    }
  }
}
